<style>
   table {
      border-collapse: collapse;
   }
   th, td {
      padding: 5px;
      border: 2px solid blueviolet;
   }
 </style>
 
<!doctype html>
<html>
   <body>
      <h1>Welcome to Chandy's Blockchain</h1>
      <b>Version 0.1 is able to:</b>
      <ul>
         <li>Create Transactions</li>
         <li>Mine blocks and add to the blockchain</li>
      </ul>
      <b>Future versions will include:</b>
      <ul>
         <li>Support for numerous nodes</li>
         <li>Chain verification of nodes</li>
         <li>Consensus mechanism</li>
      </ul>

      <form method = "POST">
         <table>
            <thead>
              <tr>
                <th>Command</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><input type="submit" name="New Transaction" value="New Transaction"></td>
                <td>Creates a new transaction in the blockchain</td>
              </tr>
              <tr>
               <td><input type="submit" name="Mine" value="Mine"></td>
                <td>Starts the mining process to validate transactions and add them to the blockchain</td>
              </tr>
            </tbody>
          </table>
      </form>
   </body>
</html>
