<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/main.css') }}">
<html>
<body>
   <header>
      <div class="blockchain-logo">
        <span>C</span>
      </div>
      <div class="blockchain-text">Welcome to Chandy's Blockchain!</div>
    </header>
   <b>Currently able to:</b>
   <ul>
      <li>Create Transactions</li>
      <li>Mine blocks and add to the blockchain</li>
   </ul>
   <b>Future versions will include:</b>
   <ul>
      <li>Support for numerous nodes</li>
      <li>Chain verification of nodes</li>
      <li>Consensus mechanism</li>
      <li>Verification of transactions with keys</li>
      <li>Varying mining difficulty</li>
      <li>Transaction fees</li>
      <li>Lots of bug fixes, exception handling, refactoring code</li>
      <li>???</li>
   </ul>
   <br><br>
   <form method="POST">
      <table>
         <thead>
            <tr>
               <th>Command</th>
               <th>Description</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td><input type="submit" name="New Transaction" value="New Transaction"></td>
               <td>Creates a new transaction in the blockchain</td>
            </tr>
            <tr>
            <td><input type="submit" name="Mine" value="Mine"></td>
               <td>Starts the mining process to validate transactions and add them to the blockchain</td>
            </tr>
            <tr>
               <td><a href="{{ url_for('ViewBlockchain') }}"><input type="button" value="View Blockchain"></a></td>
               <td>Displays the current state of the blockchain</td>
            </tr>   
            <tr>
               <td><a href="{{ url_for('RegisterNode') }}"><input type="button" value="Register Node"></a></td>
               <td>Registers a new node to the blockchain network</td>
           </tr>           
         </tbody>
         </table>
   </form>
</body>
</html>