<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/main.css') }}">
<html>
   <body>
    <b>You are making a new transaction.</b>
    <form action = "http://localhost:5000/transactions" method="POST">
        <p>Sender <input type="text" name="Sender"/></p>
        <p>Recipient <input type="text" name="Recipient"/></p>
        <p>Amount <input type="text" name="Amount"/></p>
        <p><input type="submit" value="Submit" /></p>
     </form>

   </body>
</html>
